<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />

    <link rel="icon" href="/favicon.svg">
    <link rel="stylesheet" href="/css/index.css">

    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ description }}">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{{ site.url }}{{ site.banner }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta property="twitter:image" content="{{ site.url }}{{ site.banner }}">
    <meta property="twitter:title" content="{{ title }}">
    <meta property="twitter:description" content="{{ description }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        {{ title }}
        {% endblock title %}
    </title>

    {% block styles %}
    {% endblock %}
</head>

<body>
    {% include "partials/navbar.html" %}

    <hr>

    <main>
        {% block content %}
        {{ content }}
        {% endblock %}
    </main>

    <hr>

    {% include "partials/footer.html" %}
</body>

</html>