<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    
    <link rel="icon" href="/favicon.svg">
    <link rel="stylesheet" href="/css/index.css">

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:url" content="{{ page.url }}" />

    <title>
        {% block title %}
        {{ title }}
        {% endblock title %}
    </title>

    {% block styles %}
    {% endblock %}
</head>

<body>
    {% include "partials/navbar.html" %}

    <hr>

    <main>
        {% block content %}
        {{ content }}
        {% endblock %}
    </main>

    <hr>

    {% include "partials/footer.html" %}
</body>

</html>