.project {
  width: 400px;
  height: 300px;
  padding: 16px;

  background: #66d797;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2)
}

.project__image__border {
  padding: 6px;
  background: linear-gradient(to right, #5B86E5, #36D1DC);
  border-radius: 360px;
}

.project__image {
  width: 84px;
  border-radius: 360px;
}

.project__title {
  margin-left: 32px;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
}

.project__description {
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}
