@import '../../../styles/colors.scss';

.sec-projects {
  width: 100%;
  background-color: $primary;

  &__title {
    color: $primary;
    font-family: Montserrat, sans-serif;
    font-size: 72px;
    font-weight: bold;

    background-color: white;
    padding: 0 10px;
  }
}