@import '../../styles/colors.scss';

.project {
  &__container {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 300px;

    & > img {
      position: absolute;
      z-index: -1;
      width: 500px;
      height: 300px;

      transform: scale(1);
      transition: all 200ms ease;
    }

    &:hover {
      cursor: pointer;
      user-select: none;

      & > img {
        filter: blur(6px);
        transform: scale(1.05);

      }
    }

    &:hover &__active {
      opacity: 1;
    }

    &__active {
      opacity: 0;
      background-color: rgba(black, 0.4);

      width: inherit;
      height: inherit;

      transition: all 200ms ease;

      & > h1 {
        position: absolute;
        top: 30px;
        left: 30px;

        margin: 0;

        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-weight: 600;
        text-shadow: 1px 1px 3px rgba(black, 0.6);
        text-transform: uppercase;
      }
    }
  }
}