<nav>
  <div class="nav-left">
    <h1>
      <a href="/">
        Brian Xiang
      </a>
    </h1>

    <span>
      <a href="/about">about</a>
      //
      <a href="/corner">corner</a>
      //
      <a href="/contact">contact</a>
      //
      <a href="/links">links</a>
    </span>
  </div>

  <div class="nav-right">
    <a href="https://github.com/cf12">
      {{ load_data(path="assets/icons/github.svg") | safe }}
    </a>

    <a href="https://www.linkedin.com/in/cf12/">
      {{ load_data(path="assets/icons/linkedin.svg") | safe }}
    </a>

    <a href="mailto:brian@cf12.org">
      {{ load_data(path="assets/icons/at.svg") | safe }}
    </a>
  </div>
</nav>