.body__section--contact {
  background: linear-gradient(to right, #317cde, #53c8b7, #35db5e);

  .body__title {
    color: white !important;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
  }

  .contact__wrapper {
    & > div {
      padding: 30px;
    }

    .side--left {
      width: 700px;
    }

    .side--right {
      width: 700px;
    }

    .social-wrapper {
      a {
        margin: 30px;
      }
    }

    .text--description {
      color: white;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
      font-family: Montserrat, sans-serif;
      font-size: 28px;
    }

    .text--form-header {
      font-family: Montserrat, sans-serif;
      font-size: 20px;
    }

    .contact-form {
      width: auto;
      background-color: white;
      padding: 30px;

      font-family: Montserrat, sans-serif;

      box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.3);

      transition: all 0.1s ease;

      &:hover {
        box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.4);
      }

      .field {
        width: 500px;
      }

      .submit-recaptcha {
        margin: 18px 0;
      }

      .submit-button__icon {
        margin-left: 8px;
      }

      .indicator {
        position: absolute;
      }

      .text--green {
        color: green;
      }

      .text--red {
        color: red;
      }
    }

  }
}
