.to-homepage-button__container {
  width: 200px;
  height: 60px;

  position: absolute;
  z-index: 1;
  left: 40px;
  top: 30px;

  user-select: none;

  text-shadow: 1px 1px 5px black;

  font-style: normal;
  font-size: 16px;
  color: white;

  transition: all 0.2s ease;

  &:hover {
    transform: translateX(-10px);
  }

  p {
    margin-left: 10px;
  }
}
