@import 'styles/colors.scss';

.container {
  color: $dark2;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  & > * {
    transition: all 200ms ease;
  }

  & > :first-child {
    width: auto;
    height: 18px;
    margin-right: 8px;
    margin-bottom: 3px;
  }

  & > p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }

  & > :last-child {
    width: auto;
    height: 18px;
    margin-left: 8px;
  }

  &:hover {
    cursor: pointer;

    & > :first-child {
      color: white;
      transform: scale(1.15);
    }

    & > p {
      color: $primary;
      transform: translateX(4px);
    }

    & > :last-child {
      color: $primary;
      transform: translateX(8px);
    }
  }
}