.body__wrapper--story {
  width: 1300px;
  margin: 0 300px;
}

.body__avatar {
  float: left;
  width: 256px;
  height: 100%;
  padding-right: 80px;

  img {
    width: 256px;
    height: 256px;
    border: 1px solid black;
    border-radius: 9999px;
  }
}
