@import 'styles/global.scss';
@import 'styles/colors.scss';

.sec-about {
  position: relative;
  box-sizing: border-box;

  min-width: 600px;
  margin: 100px;

  font-family: 'Montserrat', sans-serif;

  &__body {
    @media screen and (max-width: 1200px) {
      flex-direction: column;

      &__img {
        margin-top: 40px;
      }
    }

    display: flex;
    flex-direction: row;

    &__text {
      color: $dark2;
      font-family: 'Rubik', sans-serif;
      font-size: 18px;
      line-height: 160%;

      max-width: 500px;
      margin-right: 80px;

      & > p {
        margin: 0;
      }
    }

    &__img {
      @include shadow();

      position: relative;

      width: 400px;
      height: 266px;

      background-image: url('../../../assets/images/picture.jpg');
      background-repeat: no-repeat;
      background-size: contain;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;

        left: 12px;
        top: 12px;

        width: 400px;
        height: 266px;

        background-color: $primary;
        box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }

  @media (min-width: 1200px) {
    width: 1000px;
  }
}