@import 'styles/colors.scss';

.sec-about {
  position: relative;
  box-sizing: border-box;

  width: 1000px;
  padding: 100px 0;

  font-family: 'Montserrat', sans-serif;

  &__left {
    margin-right: 100px;

    &__sec-label {
      margin: 0;

      color: $dark1;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.15em;
    }

    &__title {
      margin: 0;
      margin-bottom: 40px;

      color: white;
      font-size: 64px;
      font-weight: bold;
    }

    &__body {
      color: $dark2;
      font-family: 'Rubik', sans-serif;
      font-size: 18px;
      line-height: 160%;
    }
  }

  &__img {
    min-width: 400px;
    min-height: 266px;

    background-image: url('../../../assets/images/picture.png');
    background-repeat: no-repeat;
    background-size: contain;

    box-shadow: -10px -10px 40px 0 rgba(0, 0, 0, 0.2);

    &::before {
      content: '';
      position: absolute;
      z-index: -1;

      margin-left: 12px;
      margin-top: 12px;

      width: 400px;
      height: 266px;
      background-color: $primary;

      box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
    }
  }
}