@import '../../../styles/colors.scss';

.sec-about {
  position: relative;
  box-sizing: border-box;
  padding-top: 100px;

  width: 100%;

  &__wrapper {
    position: relative;
    max-width: 1200px;
    margin-bottom: 500px;

    &__text {
      justify-content: center;
      width: 900px;
      margin-right: 100px;

      font-family: Rubik, sans-serif;

      &__title {
        margin: 0;
        font-size: 72px;
        font-weight: bold;

        &--highlight {
          color: white;
          background-color: $primary;
          border-left: 10px solid $primary;
        }
      }

      &__subtitle {
        color: $dark2;
        font-size: 20px;
        font-weight: normal;

        margin-top: 20px;

        & > p {
          margin: 3px;
        }
      }
    }

    &__img {
      width: 1000px;
      height: 400px;
      max-width: 1000px;
      max-height: 400px;
    }

    &__shapes {
      stroke: rgba(black, 1);
      z-index: -2;
      position: absolute;
      width: 600px;
      height: 600px;
    }
  }


  &__bg {
    z-index: -1;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;

    & > img {

    }
  }
}