.button__frame {
  height: 60px;
  margin: 0 38px;

  color: white;

  user-select: none;
}

.button__text {
  position: relative;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px 3px black;

  transition: all 0.2s ease;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -8px;
    left: 0;
    background: linear-gradient(to right, #ff6666, #ffca52);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease;
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

  &:hover {
    cursor: pointer;
    text-shadow: 1px 1px 3px #865800;
  }
}
