@import '../../../styles/colors.scss';

.sec-contact {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 200px;
  background-color: $primary;

  &__title {
    color: $primary;
    font-family: Montserrat, sans-serif;
    font-size: 72px;
    font-weight: bold;

    margin-bottom: 60px !important;

    background-color: white;
  }

  &__left {
    float: left;
    margin-right: auto;

    &__text {
      width: 500px;
      margin-right: 100px;

      color: white;
      font-family: Rubik, sans-serif;
      font-size: 32px;

      & > h2 {
        margin: 0;
        font-weight: 500;
        font-size: 42px;

        & > mark {
          background-color: $secondary;
          color: white;
          padding: 0 6px;
        }
      }
    }
  }
}