@import '../../../styles/colors.scss';

.sec-contact {
  width: 1000px;
  padding-bottom: 200px;

  font-family: 'Montserrat', sans-serif;

  &__text {
    width: 500px;

    color: $dark2;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 160%;

    & > p {
      margin: 0;
      margin-bottom: 16px;
    }

    &__entry {
      display: flex;
      flex-direction: row;

      margin: 12px 0;

      & > svg {
        width: 24px;
        height: 24px;
      }

      & > a, h3 {
        margin: 0;
        margin-left: 14px;

        color: white;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;

        transition: all 100ms ease;

        &:hover {
          color: $primary;
          cursor: pointer;
        }
      }
    }
  }
}