@import 'theme';

.container {
  @include flexRow;

  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  top: 0;

  padding: 0 6%;
  width: 100%;
  height: 140px;

  align-items: center;

  .buttons {
    @include flexRow;
  }
}

.icon {
  margin-right: 20px;
  user-select: none;
  width: 64px;
  height: 64px;

  transition: all 200ms ease;

  &:hover {
    width: 80px;
    height: 80px;
    cursor: pointer;
  }
}

.button {
  @include flexCenter;

  color: $dark2;
  background-color: rgba(white, 0.05);

  position: relative;
  user-select: none;

  margin: 0 8px;

  & > p {
    z-index: 1;
    margin: 13px 26px;

    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.06em;

    transition: all 0.2s ease;
  }

  &:hover {
    cursor: pointer;

    & > p {
      text-shadow: 1px 1px 8px rgba(black, 0.6);
      color: white;
    }

    &::after {
      width: 100%;
    }
  }

  &::after {
    content: '';

    z-index: 0;
    position: absolute;
    left: 0;

    background-color: $primary;
    width: 0;
    height: 100%;

    transition: all 300ms ease;
  }
}

.navbarButton {
  color: white;
  width: 32px;
  height: 32px;

  display: none;

  transition: all 200ms ease;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.sidebar {
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  background-color: $primary;

  transition:
    height 300ms ease 100ms,
    opacity 300ms ease;

  .sidebarCloseButton {
    position: absolute;
    left: 24px;
    top: 24px;

    color: white;
    width: 32px;
    height: 32px;
  }

  .sidebarButtons {
    margin-top: 80px;

    .button {
      background: none;
      margin: 24px 0;

      color: rgba(white, 0.8);

      & > p {
        margin: 0;
        font-size: 24px !important;
      }
    }
  }
}


// .spacer {
//   margin-right: auto;
// }

// .right {
//   display: flex;
//   align-items: center;

//   color: white;
//   font-family: 'Rubik', sans-serif;
//   font-weight: 500;
//   font-size: 16px;

//   & > svg {
//     margin-left: 8px;
//     width: auto;
//     height: 20px;
//   }
// }

@media only screen and (max-width: 800px) {
  .buttons {
    display: none !important;
  }

  .navbarButton {
    display: initial !important;
  }
}