@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.project {
  width: inherit;
  height: inherit;

  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);

  &:hover > .project__overlay-wrapper {
    opacity: 1;
  }

  &:hover > .project__background {
    opacity: 0;
  }

  &__video {
    width: inherit;
    height: inherit;

    position: absolute;
    z-index: -2;
  }

  &__background {
    position: absolute;
    z-index: -2;

    width: inherit;
    height: inherit;

    opacity: 1;

    transition: opacity 0.2s ease;
  }

  &__overlay-wrapper {
    position: absolute;
    z-index: -1;

    width: inherit;
    height: inherit;

    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;

    transition: opacity 0.2s ease;
  }

  &__title {
    color: white;
    margin: 26px 0;

    font-family: 'Rubik', sans-serif;
    font-size: 64px;
    font-weight: 500;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }
}
