.skill-entry__container {
  width: 200px;
  height: 100px;
  margin: 50px 40px;

  color: white;

  .skill-entry__icon {
    max-width: 80px;
    max-height: 80px;
    color: white;
  }

  .skill-entry__title {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }

  .skill-entry__divider {
    width: 50%;
    margin: 15px 0;

    border: solid 1px white;
    border-radius: 30px;

    background-color: white;
  }

  .skill-entry__desc {
    height: 100%;
    margin: 0;

    text-align: left;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.3px;
  }
}
