.skill-entry__wrapper {
  width: 350px;
  height: 200px;
  margin: 15px;
  padding: 20px;
}

.skill-entry__container {
  width: inherit;
  height: inherit;
  padding: 20px;

  color: white;

  background: linear-gradient(-220deg, #e07f41, #952ffa);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.skill-entry__title {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}

.skill-entry__desc {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: 0.3px;
}
