.skill-entry__wrapper {
  margin: 15px;
  padding: 20px;
  width: 350px;
  height: 200px;

  color: white;

  // border: 1px solid #ededed;
  border-radius: 2px;
  // background-color: #5B86E5;
  background: linear-gradient(-220deg, #418fe0, #7728e9);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}


.skill-entry__title {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}

.skill-entry__desc {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: 0.3px;
}
