a {
  color: blue;
  text-decoration: none; /* no underline */
}

.body {
  width: 100%;
}

.body__section {
  // position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 80px 0;

  .body__title-wrapper {
    height: 150px;
  }

  .body__title {
    margin: 0;
    color: #404040;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 72px;
    letter-spacing: 4px;
  }

  .body__paragraph {
    margin: 0;
    color: #8d8d8d;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    line-height: 30px;
  }

  .body__separator--big {
    margin: 30px 0;
    width: 200px;
    height: 5px;
    background: linear-gradient(to right, #5a73eb, #9253eb);
  }
}

.flex--row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.flex--column {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex--center--items {
  display: flex;
  align-items: center;
}

.flex--center--content {
  display: flex;
  justify-content: center;
}
