a {
  color: blue;
  text-decoration: none; /* no underline */
}

.body {
  width: 100%;
}

.body__section {
  // position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 80px 0;

  .body__title-wrapper {
    height: 150px;
  }

  .body__title {
    margin: 0;
    color: #404040;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 72px;
    letter-spacing: 4px;
  }

  .body__paragraph {
    margin: 0;
    color: #676767;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  .body__separator--big {
    margin: 30px 0;
    width: 200px;
    height: 5px;
    background: linear-gradient(to right, #5a73eb, #9253eb);
  }
}
