---
---

<footer>
  <!-- <p>Copyright &copy; {{year}} &bullet; All Rights Reserved</p>

        <p>
            This site weighs {{build.size}}, and is built 
        </p>

        <p>
            {{ build.hash }}
            {{ build.size }}
        </p> -->
</footer>

<style>
  footer {
    color: var(--text-3);
    font-family: monospace;
    font-size: 1rem;
  }
</style>
