---
import signature from "../assets/signature.svg?raw";

const year = new Date().getFullYear();
---

<footer>
  <p>
    Copyright &copy; {year} &bullet; All Rights Reserved
    <br />

     This page weighs <mark class="size">[...]</mark> | Made w/ <a
      href="https://astro.build/">Astro</a
    >
  </p>

  <Fragment set:html={signature} />
</footer>

<script>
  const size = new XMLSerializer().serializeToString(document).length / 1024;

  const sizeEl = document.querySelector(".size");
  if (sizeEl) sizeEl.textContent = `${size.toFixed(2)}KB`;
</script>

<style type="scss">
  footer {
    display: flex;
    align-items: center;

    color: var(--text-3);
    font-family: Courier, monospace;

    & > *:first-child {
      margin-right: auto;
    }

    & > p {
      font-size: 16px;
      line-height: 150%;
    }
  }

  a {
    color: var(--purple);

    &:hover {
      opacity: 0.75;
    }
  }

  mark {
    background: none;
    text-decoration: none;
    color: var(--purple);
  }
</style>

<style is:global type="scss">
  #signature {
    transform-origin: center right;
    transition: transform 400ms ease;

    #signaturePathBg {
      fill: var(--text-3);
    }

    #signaturePath {
      fill: white;
    }

    #signatureMask > path {
      stroke: white;
      stroke-width: 5px;
      stroke-dasharray: 400;
      stroke-dashoffset: 400;

      transition: stroke-dashoffset 400ms ease;
    }

    &:hover {
      cursor: pointer;

      transform: scale(1.1);

      #signatureMask > path {
        stroke-dashoffset: 0;
        user-select: none;
      }
    }
  }
</style>
