@import "theme";

.footer {
  @include flexRow;
  align-items: center;

  width: 90%;
  height: 140px;
  max-width: 800px;

  margin: 0 auto;

  .text {
    color: $dark1;
    font-size: 15px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
  }

  .icons {
    @include flexRow;
    gap: 12px;

    margin-top: 8px;

    & > a > * {
      color: $dark1;
      width: 30px;
      height: auto;

      transition: all 150ms ease;

      &:hover {
        color: white;
      }
    }
  }

  .left {
    margin-right: auto;

    p {
      margin-top: 10px;
    }
  }

  .signature {
    :global(#signaturePathBg) {
      fill: $dark1;
    }

    :global(#signaturePath) {
      fill: white;
    }

    :global(#signatureMask) > path {
      stroke: white;
      stroke-width: 5px;
      stroke-dasharray: 400;
      stroke-dashoffset: 400;

      transition: all 500ms ease;
    }

    &:hover {
      cursor: pointer;

      :global(#signatureMask) > path {
        stroke-dashoffset: 0;
        user-select: none;
      }
    }
  }

  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin-top: 64px;

    .signature {
      margin-top: 12px;
      display: none;
    }
  }
}
