---
let year = new Date().getFullYear();
---

<footer>
  <p>
    Copyright &copy; {year} &bullet; All Rights Reserved
    <br />

     This page weighs <mark class="size"></mark> | Made w/ <a
      href="https://astro.build/">Astro</a
    >
  </p>
</footer>

<script>
  const size = new XMLSerializer().serializeToString(document).length / 1024;

  const sizeEl = document.querySelector(".size");
  if (sizeEl) sizeEl.textContent = `${size.toFixed(2)}KB`;
</script>

<style type="scss">
  footer {
    color: var(--text-3);
    font-family: Courier, monospace;

    & > p {
      font-size: 16px;
      line-height: 150%;
    }
  }

  a {
    color: var(--purple);

    &:hover {
      opacity: 0.75;
    }
  }

  mark {
    background: none;
    text-decoration: none;
    color: var(--purple);
  }
</style>
