---
import { Icon } from "astro-icon";
---

<nav>
  <h1>Brian Xiang</h1>

  <a href="https://github.com/cf12">
    <Icon name="entypo-social:github-with-circle" />
  </a>

  <a href="https://www.linkedin.com/in/cf12/">
    <Icon name="entypo-social:linkedin-with-circle" />
  </a>

  <a href="mailto:brian@cf12.org">
    <Icon name="entypo:email" />
  </a>
</nav>

<style lang="scss">
  nav {
    display: flex;
    align-items: center;

    gap: 8px;
    color: white;

    & svg {
      width: 32px;
    }

    & > h1 {
      // text-decoration: underline;
      // text-decoration-style: dashed;
      // text-underline-offset: 20px;
      font-size: 3rem;
    }

    & > *:first-child {
      margin-right: auto;
    }
  }

  a {
    color: white;
  }
</style>
