.video-player__container {
  position: relative;
  width: 1152px;
  height: 648px;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.3);


  &:hover {
    cursor: pointer;
  }

  &:hover > .video-player__control-overlay {
    opacity: 1;
  }

  .video-player__control-overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.2s ease;

    .video-player__control-button {
      box-sizing: border-box;
      width: 70px;
      height: 70px;

      border-style: solid;
      border-color: transparent transparent transparent white;
      border-width: 40px 0 40px 70px;

      transition: all 200ms ease;
    }

    .paused {
      border-style: double;
      border-width: 0 0 0 60px;
    }
  }

  .video-player__video {
    width: inherit;
    height: inherit;
  }
}
