
$primary: #39E2A5;
$secondary: #39E2A5;

$bg: #232323;
$bg2: #181818;
$dark1: #616161;
$dark2: #888888;

:export {
  bg: $bg;
  bg2: $bg2;
  dark1: $dark1;
  dark2: $dark2;
  primary: $primary;
  secondary: $secondary;
}