@import 'styles/colors.scss';

.sec-projects {
  min-width: 600px;
  margin: 100px;

  font-family: 'Montserrat', sans-serif;

  &__projects {
    display: grid;

    grid-template-columns: min-content;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @media (min-width: 1200px) {
      grid-template-columns: min-content min-content;
    }
  }

  @media (min-width: 1200px) {
    width: 1000px;
  }
}