@import 'styles/colors.scss';

.sec-projects {
  width: 1000px;

  font-family: 'Montserrat', sans-serif;

  &__sec-label {
    margin: 0;

    color: $dark1;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.15em;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;

    color: white;
    font-size: 64px;
    font-weight: bold;
  }
}