@import "theme";

.container {
  font-family: "Rubik", sans-serif;

  .subtitle {
    font-family: 'Montserrat', sans-serif;
    color: $dark1;
    letter-spacing: 0.0625em;
  }

  .text {
    color: rgba(white, 0.50);
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 160%;

    a {
      text-decoration: 2px solid underline;
      text-decoration-color: $dark1;
      text-underline-offset: 4px;
      cursor: pointer;

      transition: all 150ms ease;

      &:hover {
        color: $primary;
        text-decoration-color: $primary;
      }
    }

    mark {
      font-weight: 400;
      color: $primary;
    }
  }
}