@import "theme";

@keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  width: 90%;
  max-width: 800px;
  height: 100vh;
  background: $bg;

  font-family: Rubik, sans-serif;

  h1 {
    color: white;
  }

  mark {
    font-weight: 500;
    background-color: transparent;
    color: $primary;
  }

  .title {
    color: white;
    font-size: 4rem;
    font-weight: 500;

    animation: fadeIn 600ms ease;
  }

  .subtitle {
    color: $dark2;
    font-size: 1.50rem;
    font-weight: normal;
    line-height: 160%;

    u {
      text-decoration-color: rgba($primary, 0.50);
      text-underline-offset: 2px;
      cursor: pointer;

      transition: all 150ms ease;

      &:hover {
        color: $primary;
        text-decoration-color: $primary;
      }
    }

    mark {
      font-weight: 400;
      color: rgba($primary, 0.75);
    }

    opacity: 0;

    animation: fadeIn 600ms ease 300ms;
    animation-fill-mode: forwards;
  }

  & > .buttons {
    display: inline-block;

    & > * {
      opacity: 0;
      margin-bottom: 12px;

      animation: fadeIn 600ms ease 600ms;
      animation-fill-mode: forwards;
    }
  }

  .text {
    color: $dark2;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 160%;
  }

  .img {
    position: relative;

    max-width: 400px;
    height: auto;

    & > img {
      @include shadow();

      width: 100%;
      height: 100%;
    }

    & > div {
      content: "";
      position: absolute;
      z-index: -1;

      left: 3%;
      top: 3%;

      width: 100%;
      height: 100%;

      background-color: $primary;
      box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

.hero {

}

.projects {
  max-width: 1000px;
  margin: 100px;

  font-family: "Montserrat", sans-serif;

  .projectItems {
    display: grid;

    grid-template-columns: min-content;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @media (min-width: 1200px) {
      grid-template-columns: min-content min-content;
    }
  }
}

.contact {
  max-width: 1000px;
  margin: 100px 10% 200px 10%;

  font-family: "Montserrat", sans-serif;

  .text {
    max-width: 500px;

    font-family: "Rubik", sans-serif;
    color: $dark2;

    & > p {
      margin: 0;
      margin-bottom: 24px;

      font-size: 18px;
      line-height: 160%;
    }

    .buttons {
      display: inline-block;

      & > * {
        margin-bottom: 12px;
      }
    }
  }
  @media (min-width: 1200px) {
    width: 1000px;
  }
}
