<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="index.css">
    <title>
        {% block title %}
        {{ config.title }}
        {% endblock title %}
    </title>
    {% block styles %}
    {% endblock %}
</head>

<body>
    {% include "partials/navbar.html" %}

    <hr>

    <main>
        {% block content %}
        {{ page.content | safe }}
        {% endblock %}
    </main>

    <hr>

    {% include "partials/footer.html" %}
</body>

</html>