@import 'styles/colors.scss';

@keyframes pulse {
  to {
    box-shadow: 0 0 5px 5px white;
    width: 128px;
    height: 128px;
    opacity: 0;
  }
}

.lds-ripple {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 200;
  top: 0;
  left: -10%;

  width: 120%;
  height: 100%;

  background-color: $primary;

  overflow: hidden;

  transform: skewX(20deg);

  transition: all 1s ease;

  &--active {
    transform: translate(-120%) skewX(20deg);
  }

  & > div {
    width: 0;
    height: 0;
    border-radius: 50%;
    box-shadow: 0 0 3px 1px white;

    transform: skewX(-20deg);

    animation: pulse 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-iteration-count: infinite;
  }
}

