@import 'styles/colors.scss';

.footer {
  position: relative;
  z-index: 10;
  box-sizing: border-box;

  width: 100%;
  height: 120px;
  padding: 0 40px;

  background-color: $bg2;

  &__logo {
    width: 64px;
    height: 64px;
    margin-right: 20px;
  }

  &__text {
    color: $dark1;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    margin: 0;
  }

  &__spacer {
    margin-right: auto;
  }

  &__icons {
    margin-top: 6px;

    & > a > * {
      color: $dark1;
      width: 30px;
      height: 30px;
      margin-right: 12px;

      transition: all 200ms ease;

      &:hover {
        color: white;
      }
    }
  }
}
