@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.project {
  width: 1344px;
  height: 756px;

  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.5);

  &:hover > .project__overlay-wrapper {
    opacity: 1;
  }

  &:hover > .project__background {
    opacity: 0;
  }

  .project__video {
    position: absolute;
    z-index: -2;
  }

  .project__background {
    position: absolute;
    z-index: -2;

    width: inherit;
    height: inherit;

    opacity: 1;

    transition:
    opacity 0.2s ease;
  }

  .project__overlay-wrapper {
    position: absolute;
    z-index: -1;

    width: inherit;
    height: inherit;

    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;

    transition: opacity 0.2s ease;

    .project__title {
      margin: 26px 0;
      color: white;
      font-family: Montserrat, sans-serif;
      font-size: 72px;
      font-weight: 500;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    }

    .project__icon {
      animation: hover 1.5s infinite;
    }
  }
}
