@import 'styles/colors.scss';

@keyframes animate {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(50%) }
  to { opacity: 1; transform: translateY(0) }
}

@media screen and (max-width: 750px) {
  .hero {
    &__title {
      font-size: 10vw;
      color: black;
    }
  }
}

.hero {
  display: flex;
  width: 100%;
  height: 100vh;
  background: $bg;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Rubik, sans-serif;

  & > h1 {
    color: white;
  }

  &__downchev {
    position: absolute;
    bottom: 40px;

    color: $dark1;
    width: 38px;
    height: 38px;

    transform: translate(-50%, -50%);
    transition: 200ms all ease;
    animation: animate 2s ease;
    animation-iteration-count: infinite;

    &:hover {
      cursor: pointer;
      user-select: none;
      color: white;
    }
  }

  &__icon {
    margin-bottom: 40px;
  }

  & mark {
    font-weight: 500;
    background-color: transparent;
    color: $primary;
  }

  &__text {
    position: absolute;
    left: 12%;

    &__title {
      color: white;
      font-size: 92px;
      font-weight: 500;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

      margin: 0;

      animation: fadeIn 600ms ease;
    }

    &__subtitle {
      color: $dark2;
      font-size: 20px;
      font-weight: normal;
      text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);

      margin: 0;
      margin-top: 30px;

      opacity: 0;

      animation: fadeIn 600ms ease 300ms;
      animation-fill-mode: forwards;

      & > p {
        margin: 8px 0;
      }
    }
  }

  &__buttons {
    position: absolute;
    right: 40px;

    & > a > * {
      color: $dark2;
      width: 36px;
      height: 36px;
      margin-bottom: 10px;

      transition: all 200ms ease;

      &:hover {
        cursor: pointer;
        color: white;
        transform: translateX(-10px)
      }
    }
  }
}
