.body__section--skills {
  background: linear-gradient(-220deg, #e76e21, #952ffa);

  .body__section--skills__wrapper {
    width: 1200px;
  }
}

.body__section--skills__title {
  color: white !important;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

.body__section--skills__wrapper {
  width: 1400px;
  flex-wrap: wrap;
}
