.no-nav-style {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    padding-top: 10px;
    width: 100%;
}

.wrapper > .button {
    font-family: "Muli", sans-serif;
    position: relative;
    margin: auto 20px;
}

.wrapper > .button-main {
    font-family: "Agent", sans-serif;
    position: relative;
    margin: 10px 40px;
    font-size: 50px;
}