@keyframes bounce {
    40% { transform: translateY(-40px) }
    80% { transform: translateY(0) }
}

.wrapper-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: #141619;
}

.loader {
    z-index: 11;
    width: 120px;
}

.ball-1, .ball-2, .ball-3 {
    margin: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
}

.ball-1 {
    animation: bounce 1.0s ease-in-out infinite;
}

.ball-2 {
    animation: bounce 1.0s ease-in-out infinite;
    animation-delay: 0.10s;
}

.ball-3 {
    animation: bounce 1.0s ease-in-out infinite;
    animation-delay: 0.2s;
}
