p {
    margin: 0;
}

.main-title {
    text-align: center;
    font-size: 62px;
}

.main-text {
    font-size: 18px;
}

.wrapper {
    z-index: -5;
    position: absolute;
    width: 100%;
    height: 3350px;
    overflow-x: hidden;
}

.wrapper-showcase {
    font-family: Agent, sans-serif;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 800px;
    background: linear-gradient(to bottom, #b537d7, #e7831d);
    box-shadow: 5px 5px 50px 2px rgba(0, 0, 0, 0.8);
    color: white;
}

.showcase-particles {
    width: 100%;
    height: 800px;
    position: absolute;
    z-index: -1;
}

.showcase-particles div {
    height: 100%;
}

.showcase-title {
    position: relative;
    text-align: center;
    top: 30%;
    font-size: 180px;
    margin: 5px;
    text-shadow: 2px 2px 10px #000;
}

.showcase-subtitle {
    position: relative;
    text-align: center;
    top: 30%;
    font-size: 32px;
    text-shadow: 1px 1px 5px #000;
}

.wrapper-body {
    z-index: -2;
    position: relative;
    top: 800px;

    max-width: 1600px;
    height: 1300px;
}

.body-about {
    z-index: -2;
    position: relative;

    color: white;
    text-shadow: 2px 2px 3px #000;
    font-family: Muli, sans-serif;
}

.body-about .left-pane {
    position: relative;
    background: linear-gradient(to right, #00bff0, #00e295);
    float: left;
    height: 530px;
    max-width: 60%;
}

.body-about .left-pane .text-wrapper p {
    margin: 20px 30px;
}

.body-about .right-pane {
    position: relative;
    max-width: 40%;
    height: 530px;
    overflow: hidden;
    float: right;
}

.body-procon {
    top: 530px;
    position: absolute;
    height: 500px;
    width: 100%;

    color: white;
    text-shadow: 2px 2px 5px #000;
    background: linear-gradient(to bottom, #7822d4, #d24bd4);
    font-family: Muli, sans-serif;
}

.body-procon p {
    margin: 20px 10px;
}

.body-procon .left-pane {
    position: relative;
    width: 50%;
    height: 530px;
    overflow: hidden;
    float: left;
}

.body-procon .text {
    text-align: center;
    font-size: 26px;
}

.body-procon .heading {
    padding-top: 25px;
    text-align: center;
    font-size: 62px;
}

.body-procon .left-pane .container {
    padding-left: 40px;
}

.body-procon .right-pane .container {
    padding-right: 40px;
}

.body-procon .right-pane {
    position: relative;
    width: 50%;
    height: 530px;
    overflow: hidden;
    float: right;
}

.body-projects {
    position: absolute;
    width: 100%;
    top: 1030px;
    margin: 20px auto;
}

.body-projects .title {
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: "Muli", sans-serif;
    font-size: 52px;
    text-align: center;
}

.body-projects .wrapper-projects {
    position: relative;
    display: flex;
    margin: auto 30px;
    overflow-x: scroll;
    padding: 10px;
}

.body-projects .wrapper-projects .project-item {
    background-color: white;
    font-family: "Muli", sans-serif;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 0.5px 0.5px rgba(0, 0, 0, 0.3);
    text-align: left;
    width: 400px;
    height: 600px;
    margin-right: 60px;
    position: relative;
    transition: box-shadow 0.15s ease-in-out;
}

.body-projects .wrapper-projects .project-item:hover {
    transition: box-shadow 0.15s ease-in-out;
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.4);
}

.body-projects .wrapper-projects .project-item .picture {
    margin: 0 auto;
    text-align: center;
    line-height: 200px;

    object-fit: cover;

    width: 400px;
    height: 200px;
    background-color: #e3e3e3;
}

.body-projects .wrapper-projects .project-item .title { text-align: left; font-family: "MuliSemiBold", sans-serif; font-size: 40px; }

.body-projects .wrapper-projects .project-item .desc { font-size: 18px; padding-top: 5px; padding-bottom: 25px; }

.body-projects .wrapper-projects .project-item .button {
    margin-left: 40px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 1px;
    color: white;
    width: 220px;
    height: 50px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.55);
    position: absolute;
    bottom: 15px;

}

.body-projects .wrapper-projects .project-item .button:hover {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.2s ease-in;
}

.body-projects .wrapper-projects .project-item .button:hover {
    cursor: pointer;
}

.body-projects .wrapper-projects .project-item .button a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 50px;
}

.body-projects .wrapper-projects .project-item p { padding: 15px 40px; }

.body-social {
    color: white;
    font-family: "Muli", sans-serif;
    width: 100%;
    height: 650px;
    position: absolute;
    top: 1830px;
    background: linear-gradient(to top, #08e5cb, #3f7be5);
}

.body-social .container { }

.body-social .title { padding-top: 30px; padding-bottom: 30px; text-align: center; font-family: "MuliBoldItalic", sans-serif; font-size: 64px; }

.body-social .container-cards {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.body-social .container-cards .card {
    width: 400px;
    height: 400px;
    margin-right: 40px;
    margin-left: 40px;
}

.body-social .container-cards .card .container {
    position: absolute;
    width: 386px;
    height: 400px;
    background: linear-gradient(to bottom, #7822d4, #d24bd4);
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.08s ease-out;
}

.body-social .container-cards .card:hover .container {
    opacity: 1;
    transition: opacity 0.20s ease-in-out;
}

.body-social .container-cards .card *:hover { cursor: pointer; }

.body-social .container-cards .card .image {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 200px;
    width: 200px;
    height: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.body-social .container-cards .card .info {
    position: relative;
    font-family: "MuliSemiBold", sans-serif;
    font-size: 40px;
    text-align: center;
}