@import '../../styles/colors.scss';

.not-found__container {
  width: 100%;
  height: 100vh;
  color: white;
  font-family: 'Montserrat', sans-serif;
  background: $bg;
}

.not-found__icon {
  width: 600px;
}

.not-found__title {
  margin: 12px;
  font-size: 64px;
  font-weight: 600;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}

.not-found__message {
  color: $dark2;
  margin: 12px;
  font-size: 16px;
  font-weight: 500;
}

.not-found__bl {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-weight: 500;

  color: $dark2;
  font-size: 14px;

  a {
    color: $secondary;

    transition: all 200ms ease;

    &:hover {
      color: rgb(0, 255, 149);
    }
  }
}

